.button {
    font: inherit;
    border: 1px solid #84142D;
    background: #84142D;
    color: #29C7AC;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .button:hover,
  .button:active {
    background: #C02739;
    border-color: #C02739;
  }
  
  .button:focus {
    outline: none;
  }
  